*{
     font-family: 'Merriweather Sans', sans-serif;
}
#navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 250px;
    height: 50px;
    cursor: pointer;
    
}

#navbar>div {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    font-weight: bold;
    
}

#navbar img {
    width: 180px;
}

#demo {
    padding: 10px 25px 10px 25px;
    background-color: rgb(255, 144, 33);
    font-family: 'Bree Serif', serif;
    font-family: 'Fugaz One', cursive;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
}
#demo:hover{
    border:2px solid rgb(255, 144, 33) ;
    background-color: white;
    color: rgb(70, 197, 202);
    transition: all .2s linear;
}

#signup {
    padding: 10px 25px 10px 25px;
    background-color: rgb(70, 197, 202);
    font-family: 'Bree Serif', serif;
    font-family: 'Fugaz One', cursive;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;


}
#signup:hover{
    border:2px solid rgb(70, 197, 202) ;
    background-color: white;
    color: rgb(255, 144, 33);
    transition: all .2s linear;
}

#about {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

#about>p {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 50px;
}

#about input {
    border: none;
    padding: 20px 200px 20px 20px;
}

.insideInput {
    border: 3px solid rgb(255, 153, 27);
    display: inline;
    padding: 5px 20px 20px 20px;
    border-radius: 40px;
    margin-top: 100px;
}

#about button {
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    background-color: rgb(70, 197, 202);
    color: white;

}

#about button:hover {
    background-color: rgb(255, 153, 27);
    padding: 12px 35px 12px 35px;
    transition: all .3s linear;


}

#free {
    display: flex;
    font-size: 20px;
    gap: 20px;
    justify-content: center;
}

hr+div {
    text-align: center;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}

.next {
    display: flex;
    gap: 25px;

}

.next img {
    width: 150px;
}

.next1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgb(50, 55, 56);
}

.main {
    display: flex;
    justify-content: space-around;
    line-height: 25px;
    


}

.main>div {

    border-radius: 7px;
    padding: 30px;
    margin-top: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    width: 700px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: rgb(70, 197, 202, 0.5) -5px 5px, rgb(70, 197, 202, 0.3) -10px 10px, rgb(70, 197, 202, 0.2) -15px 15px, rgb(70, 197, 202, 0.1) -20px 20px, rgb(70, 197, 202, 0.05) -25px 25px;

}

.main button {
    padding: 15px 40px 15px 40px;
    background-color: rgb(255, 144, 33);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 30px;
}

.main button:hover {
    background-color: white;
    color: rgb(255, 144, 33);
    border: 1px solid rgb(255, 144, 33);
    transition: all .3s linear;
}

.main h1 {
    font-size: 20px;
    color: rgb(48, 48, 48);
}


#mid{
    display: flex;
    gap: 30px;
   
    justify-content: space-evenly;

}
#mid img{
    width: 100px;
}
.mid{
    text-align: center;
    
}
.mid1{
     
    background-image: url(./logo/2.jpg);
 margin-top: 100px;
 padding: 50px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    
    
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
#hr1{
    margin-top: 100px;
}
.view{
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    
}
#view{
display: flex;
justify-content: space-evenly;
font-family: 'Merriweather Sans', sans-serif;
}
#view>h2{
    padding-bottom: 20px;
    cursor: pointer;
    
}

.view1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    line-height: 30px;
    gap: 100px;
    margin-top: 30px;
    font-family: 'Merriweather Sans', sans-serif;
}
.view1 img{
    width: 650px;
    margin-top: -50px;
}
.view1 h3+div{
 display: grid;
 grid-template-columns: repeat(2,1fr);
}
.view1 button{
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    font-weight: bolder;
    color: rgb(255, 153, 27);
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border: none;
}
.view1 h1{
    line-height: 38px;
}

.view1 hr{
    border: 2px solid rgb(70, 197, 202);
    
}
#client{
    width: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;    */
     background-image: url(./logo/pexels-martin-péchy-2078271.jpg); 
     box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.swiper{
width: 100%;
height: fit-content;
}
.swiper-slide{
    text-align: center;
    margin: 100px 0px 100px 0px;
    font-size: 20px;
    
    
}
.swiper-slide img{
    width: 200px;
    border-radius: 100%;
    
}
#box{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}
#box>div{
    background-color: rgb(237, 237, 240);
    margin: auto;
    padding: 50px;
    height: 110px;
    border-radius: 10px;
    color: rgb(37, 37, 102);
    width: 50%;

   
   
}

#box>div:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    transition: all .3s linear;
}


#box img{
    width: 70px;
}
.down{
    text-align: center;
    margin: 110px;
    line-height: 26px;
}
.down h1{
    font-size: 40px;
}
.down p{
    color: rgb(137, 135, 135);
}
#bottom{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 130px;
}
.inside button{
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    background-color: rgb(70, 197, 202);
    color: white;
}
.inside input{
    border: none;
    padding: 20px 200px 8px 20px}
.inside{
    
   
    
    font-size: 40px;
    margin-top: 50px;
    
    
}

.insideInput button:hover{
    background-color: rgb(255, 153, 27);
    padding: 12px 35px 12px 35px;
    transition: all .3s linear;
}
#bottom h1{
    color:rgb(70, 197, 202) ;
}
#partnerList{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-content: space-around;
    text-align: center;
    
}
#partner{
    text-align: center;
    margin-top: 100px;
    
}
#partnerList img{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 100px;
}
#footer{
   display: flex;
   justify-content: space-around;
   margin-top: 140px;
   
   
   
   padding-top: 50px;
}
#details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
#footer img{
    width: 400px;
}
#footer input{
    width: 300px;
    padding: 15px;

}
#footer button{
    margin-top: 20px;
    padding: 14px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    

}
.btn1{
    background-color:rgb(221, 139, 58) ;
    color: white;
}
#footer button:hover{
    background-color: rgb(70, 197, 202);
}
#footer h1{
    color: rgb(82, 79, 79);
    font-weight: bold;
}
#option{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 70px;
    gap: 20px;
   
    text-align: center;
    
}
#bk{
    background-image: url(./logo/bk.jpg);
}
#option div{
    background-color: rgb(68, 66, 66);
    color: white;
   padding: 20px;
   border-radius: 10px;
   cursor: pointer;
  margin-bottom: 70px;
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#eop{
    padding: 20px;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    line-height: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    font-size: 12px;
}
#eop img{
    width: 250px;
    margin-top: 10px;
}
#eop p{
    margin-top: 50px;
}

